{%extends 'base.html'%}

{% block title %} 
   Contacts
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-5">About City Hospital</h1>      
    <hr>
    <div class="row">
        <div class="col-3"></div>
        <div class=" text-center col-6">       
        <p>City Hospital started with a vision to give the highest quality patient care and innovative treatment at
            affordable cost.</p>
        <h2 style="text-decoration: underline;">Address</h2>  
        <p class="fw-bold">City Hospital
            Main Road, Kunnamkulam, Thrissur - 680506</p>
        <h2 style="text-decoration: underline;">Phone Number</h2>  
        <p class="fw-bold mb-0">Lane Line - 0487-2345678,2567845</p>
        <p class="fw-bold mt-0">Mobile - 9876567819,8976452768</p>

    </div>
    <div style="height: 500px;" class="col-3"></div>
    </div>
    
</div>
{% endblock %}