
body{
    margin: 10px 10px;
}

.parent{
    background-color: rgb(0, 238, 255);
}

.section{
    height: 100px;
    width: 200px;
    border: 2px solid rgb(0, 0, 0);
    float: left;
}

.section_one{
    
    background-color: rgb(94, 255, 0);
    margin-top: 50px;
    margin-left: auto; margin-right: auto; 
}

 .section_two{
    background-color: rgb(255, 230, 0);
   margin-top: 50px;
    margin-left: auto;margin-right: auto; */
}

.section_three {
    background-color: rgb(214, 83, 31);
    margin-top: 50px;
    margin-left:auto;margin-right: auto;
}